.hero .navbar {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 50%, #000000 75%);
}

.navbar-dropdown {
    background-color: #2d3436;
    
}

/* .hero.is-success .navbar-item {
    background-color: #2d3436;
} */

.hero.is-success .navbar-link:hover {
    background-color: #2d3436;
}

hero.is-success .navbar-dropdown {
    background-color: #2d3436;
}



.hero.is-success .navbar-link {
    color:rgb(75, 172, 43);
}